Source: ros-kinetic-state-exchanger
Section: misc
Priority: optional
Maintainer: Micha Sende <sende@lakeside-labs.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-cpswarm-msgs, ros-kinetic-roscpp, ros-kinetic-smach-msgs
Homepage: http://wiki.ros.org/state_exchanger
Standards-Version: 3.9.2

Package: ros-kinetic-state-exchanger
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-cpswarm-msgs, ros-kinetic-roscpp, ros-kinetic-smach-msgs
Description: A package that exchanges behavioral states between multiple cyber physical systems (CPSs) in a swarm.
