Source: ros-kinetic-coverage-path
Section: misc
Priority: optional
Maintainer: Micha Sende <sende@lakeside-labs.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-cpswarm-msgs, ros-kinetic-geometry-msgs, ros-kinetic-nav-msgs, ros-kinetic-roscpp, ros-kinetic-tf2
Homepage: http://wiki.ros.org/coverage_path
Standards-Version: 3.9.2

Package: ros-kinetic-coverage-path
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-cpswarm-msgs, ros-kinetic-geometry-msgs, ros-kinetic-nav-msgs, ros-kinetic-roscpp, ros-kinetic-tf2
Description: A package that generates an optimal path to cover a given area with a cyber physical system (CPS).
